extends ../../layouts/text

block content
  = t('emails.contact-ukti.header')
  br
  | =====================================
  br
  br
  = t('emails.reference-header')
  br
  | -------------------------------------
  br
  = reference
  br
  include ../_data-text
