$office-gutter: 16;
$office-gutter-half: 16 / 2;

.office {
  border-top: 1px solid $grey-2;
  margin-top: 10px;
  padding-top: 20px;

  .panel & {
    border-bottom: 0;
  }

  .contact-address {
    @include grid-column(1 / 2);
  }

  .contact-options {
    @include grid-column(1 / 2);

    .type {
      display: block;
    }
  }

  h3 {
    @include bold-19;
    margin-top: 0;
    margin-bottom: em(10);
  }

  p {
    @include core-16;
    font-size: 16px;
    line-height: 1.5;

    @include media(desktop) {
      margin-bottom: 10px;
      line-height: 1.5;
    }
  }
}
