// Manually set path to images used in styles
$images-dir: '/images/';

@import 'govuk';

// app specific elements
@import 'elements/confirmation-box';
@import 'elements/autocomplete';

// patch extra space after textareas
textarea.form-control {
  display: block;
}
