{{#errorlist.length}}
<div class="validation-summary" tabindex="-1">
    <h2>{{#t}}errorlist.title{{/t}}</h2>

    {{#errorLength.single}}
      <p>{{#t}}errorlist.para.single{{/t}}:</p>
    {{/errorLength.single}}
    {{#errorLength.multiple}}
      <p>{{#t}}errorlist.para.multiple{{/t}}:</p>
    {{/errorLength.multiple}}

    {{<partials-validation-list}}
        {{$validation-list}}
            {{#errorlist}}
                {{#message}}
                  <li><a href="#{{key}}-group">{{ message }}</a></li>
                {{/message}}
            {{/errorlist}}
        {{/validation-list}}
    {{/partials-validation-list}}
</div>
{{/errorlist.length}}
