extends layout

//- load form element mixins
include includes/+form-elements.jade

block content
  form(action='/enquire' method='post' novalidate)
    if formErrors
      .error-summary(role="group" aria-labelledby="error-summary" tabindex="-1")
        h1#error-summary.heading-medium.error-summary-heading There was a problem submitting this form
        p Please correct the highlighted errors:
        ul.error-summary-list
          for error in formErrors
            li
              a(href='enquire##{error.param}') #{S(error.param).humanize().s} #{error.msg}
    h1 Investment enquiry
    fieldset.form-group
      legend.form-label-bold Your details
      +text-field('name', 'Your full name', { required: true })
      +text-field('job-title', 'Job title', { required: true })
      +text-field('email', 'Email address', { type: 'email', required: true })
      +text-field('phone', 'Telephone number', { required: true })
    fieldset.form-group
      legend.form-label-bold Your company details
      +text-field('company-name', 'Company name', { required: true })
      +textarea('company-address', 'Company address', { required: true })
      +choices('company-type', 'Company type', [
        { name: 'type-company', label: 'Company or Organisation' },
        { name: 'type-govt', label: 'Government Department' },
        { name: 'type-individual', label: 'Individual' },
        { name: 'type-intermediary', label: 'Intermediary' },
        { name: 'type-student', label: 'Student' },
      ], { required: true })
      +autocomplete('company-location', 'Which country is your company based in?', [
        'Afghanistan',
        'Albania',
        'Algeria',
        'American Samoa',
        'Andorra',
        'Angola',
        'Anguilla',
        'Antigua and Barbuda',
        'Argentina',
        'Armenia',
        'Aruba',
        'Ascension',
        'Australia',
        'Austria',
        'Azerbaijan',
        'Bahamas',
        'Bahrain',
        'Bangladesh',
        'Barbados',
        'Belarus',
        'Belgium',
        'Belize',
        'Benin',
        'Bermuda',
        'Bhutan',
        'Bolivia',
        'Bosnia and Herzegovina',
        'Botswana',
        'Brazil',
        'British Indian Ocean Territory',
        'British Virgin Islands',
        'Brunei',
        'Bulgaria',
        'Burkina',
        'Burma',
        'Burundi',
        'Cambodia',
        'Cameroon',
        'Canada',
        'Cape Verde',
        'Cayman Islands',
        'Central African Republic',
        'Chad',
        'Chile',
        'China',
        'Christmas Island',
        'Cocos (Keeling) Islands',
        'Colombia',
        'Comoros Islands',
        'Congo',
        'Congo (Democratic Republic)',
        'Cook Islands',
        'Costa Rica',
        'Cote d\'Ivoire',
        'Croatia',
        'Cuba',
        'Cyprus',
        'Czech Republic',
        'Denmark',
        'Djibouti',
        'Dominica',
        'Dominican Republic',
        'East Timor',
        'Ecuador',
        'Egypt',
        'El Salvador',
        'Equatorial Guinea',
        'Eritrea',
        'Estonia',
        'Ethiopia',
        'Falkland Islands',
        'Faroe Islands',
        'Fiji',
        'Finland',
        'France',
        'French Polynesia',
        'French Southern Territories',
        'Gabon',
        'Gambia, The',
        'Georgia',
        'Germany',
        'Ghana',
        'Gibraltar',
        'Greece',
        'Greenland',
        'Grenada',
        'Guadeloupe',
        'Guam',
        'Guatemala',
        'Guinea',
        'Guinea-Bissau',
        'Guyana',
        'Haiti',
        'Holy See',
        'Honduras',
        'Hong Kong (SAR)',
        'Hungary',
        'Iceland',
        'India',
        'Indonesia',
        'Iran',
        'Iraq',
        'Ireland',
        'Israel',
        'Italy',
        'Jamaica',
        'Japan',
        'Jersey',
        'Jordan',
        'Kazakhstan',
        'Kenya',
        'Kiribati',
        'Korea (South)',
        'Kosovo',
        'Kuwait',
        'Kyrgyzstan',
        'Laos',
        'Latvia',
        'Lebanon',
        'Lesotho',
        'Liberia',
        'Libya',
        'Liechtenstein',
        'Lithuania',
        'Luxembourg',
        'Macao (SAR)',
        'Macedonia',
        'Madagascar',
        'Malawi',
        'Malaysia',
        'Maldives',
        'Mali',
        'Malta',
        'Marshall Islands',
        'Martinique',
        'Mauritania',
        'Mauritius',
        'Mayotte',
        'Mexico',
        'Micronesia',
        'Moldova',
        'Monaco',
        'Mongolia',
        'Montenegro',
        'Montserrat',
        'Morocco',
        'Mozambique',
        'Namibia',
        'Nauru',
        'Nepal',
        'Netherlands',
        'Netherlands Antilles',
        'New Caledonia',
        'New Zealand',
        'Nicaragua',
        'Niger',
        'Nigeria',
        'Niue',
        'Norfolk Island',
        'North Korea',
        'Northern Mariana Islands',
        'Norway',
        'Oman',
        'Pakistan',
        'Palau',
        'Palestinian Territories',
        'Panama',
        'Papua New Guinea',
        'Paraguay',
        'Peru',
        'Philippines',
        'Pitcairn',
        'Poland',
        'Portugal',
        'Puerto Rico',
        'Qatar',
        'Reunion',
        'Romania',
        'Russia',
        'Rwanda',
        'Saint Christopher and Nevis',
        'Samoa',
        'San Marino',
        'Sao Tome and Principe',
        'Saudi Arabia',
        'Senegal',
        'Serbia',
        'Seychelles',
        'Sierra Leone',
        'Singapore',
        'Slovakia',
        'Slovenia',
        'Solomon Islands',
        'Somalia',
        'South Africa',
        'Spain',
        'Sri Lanka',
        'St Barthelemy',
        'St Martin',
        'St. Helena',
        'St. Lucia',
        'St. Pierre and Miquelon',
        'St. Vincent',
        'Sudan',
        'Surinam',
        'Svalbard and Jan Mayen Islands',
        'Swaziland',
        'Sweden',
        'Switzerland',
        'Syria',
        'Taiwan',
        'Tajikistan',
        'Tanzania',
        'Thailand',
        'Togo',
        'Tokelau',
        'Tonga',
        'Trinidad and Tobago',
        'Tristan da Cunha',
        'Tunisia',
        'Turkey',
        'Turkmenistan',
        'Turks and Caicos Islands',
        'Tuvalu',
        'Uganda',
        'Ukraine',
        'United Arab Emirates',
        'United Kingdom',
        'United States',
        'United States Minor Outlying Islands',
        'Uruguay',
        'Uzbekistan',
        'Vanuatu',
        'Vatican',
        'Venezuela',
        'Vietnam',
        'Virgin Islands (US)',
        'Wallis and Futuna',
        'Western Sahara',
        'Yemen',
        'Zambia',
        'Zimbabwe',
      ], { required: true })
      +autocomplete('industry', 'Primary operating industry', [
        'Advanced Engineering',
        'Aerospace',
        'Agriculture, Horticulture and Fisheries',
        'Airports',
        'Automotive',
        'Biotechnology and Pharmaceuticals',
        'Business and Consumer Services',
        'Chemicals',
        'Clothing, Footwear and Fashion',
        'Communications',
        'Construction',
        'Creative and Media',
        'Defence',
        'Defence and Security',
        'Education and Training',
        'Electronics and IT Hardware',
        'Energy',
        'Environment',
        'Environment and Water',
        'Financial and Professional Services',
        'Food and Drink',
        'Giftware, Jewellery and Tableware',
        'Global Sports Projects',
        'Healthcare and Medical',
        'Household Goods, Furniture and Furnishings',
        'ICT',
        'Leisure and Tourism',
        'Life Sciences',
        'Marine',
        'Mass Transport',
        'Mechanical Electrical and Process Engineering',
        'Metallurgical Process Plant',
        'Metals, Minerals and Materials',
        'Mining',
        'More Sectors',
        'Oil and Gas',
        'Ports and Logistics',
        'Power',
        'Railways',
        'Renewable Energy',
        'Retail and Luxury',
        'Security',
        'Software and Computer Services',
        'Textiles, Interior Textiles and Carpets',
        'Water',
      ], { required: true })
      +text-field('turnover', 'Annual turnover (optional)', {})
      +text-field('employees', 'Number of employees (optional)', {})
    fieldset.form-group
      legend.form-label-bold Your enquiry
      +textarea('enquiry-summary', 'Provide a brief summary of the assistance you require', { required: true, hint: 'Limit your summary to 250 words' })
    +choices('heard-about', 'How did you hear about UK Trade & Investment?', [
      { name: 'heard-ukti', label: 'Contact with UKTI staff member' },
      { name: 'heard-govuk', label: 'GOV.UK website' },
      { name: 'heard-press', label: 'Press article/advert' },
      { name: 'heard-intermediary', label: 'Intermediary (for example a trade association, chamber or bank)' },
      { name: 'heard-social', label: 'Social Media' },
      { name: 'heard-personal', label: 'Personal reference' },
      { name: 'heard-other', label: 'Other' },
    ], { required: true, labelClass: 'form-label-bold' })
    +choices('data-protection', 'Would you be happy to be contacted again?', [
      { name: 'dpa-ukti', label: 'By UK Trade & Investment' },
      { name: 'dpa-partners', label: 'By external UK Trade & Investment partners' },
      { name: 'dpa-overseas', label: 'By overseas providers for UK Trade & Investment services' },
    ], { labelClass: 'form-label-bold', type: 'checkbox', hint: 'Please select all that apply' })
    .form-group
      button.button(type='submit') Submit enquiry
