extends layout

block content
  form(action='/enquire' method='post' novalidate)
    if errors
      .error-summary(role="group" aria-labelledby="error-summary" tabindex="-1")
        h1#error-summary.heading-medium.error-summary-heading There was a problem submitting this form
        p Please correct the highlighted errors:
        ul.error-summary-list
          for field in errors
            li
              a(href='enquire#id_#{field.name}') #{S(field.name).humanize().s} #{field.error}
    h1 Investment enquiry
    != form
    .form-group
      button.button(type='submit') Submit enquiry
