extends layout

block content
  .container
    .grid-row
      .column-two-thirds
        .confirmation-box
          h1 Enquiry sent
          p Your enquiry has been successfully sent.
          p One of our advisors will be in touch soon.
