extends layout

block content
  .container
    .grid-row
      .column-two-thirds
        h1 Investment services contact
        p Are you looking to grow your business and set up an international office?
        p With a low corporation tax and skilled workforce, the UK offers a great environment for expanding your business in Europe.
        p It doesn’t matter what industry sector you’re in, or what stage your business is at, UK Trade & Investment (UKTI) can:
        ul
          li Register your company in the UK
          li Find the right location for your business
          li Identify market opportunities
          li Introduce you to the right people
          li Provide advice on tax
          li Help you apply for visas
          li Support you to export from the UK
        p
          a.button.button-get-started(href='/enquire') Complete contact form
