extends ../node_modules/mojular-templates/layouts/jade/base

block head
  base(href='/')

block prepend page_title
  = 'Contact UK Trade & Investment | '

block stylesheets
  link(rel='stylesheet', href='/stylesheets/style.css')

block proposition
  a(href='/' class='proposition-name') UK Trade & Investment

block global_subheader
  .subheader-item.phase-banner
    .phase-banner-message
      | This is a new service – your <a href="#">feedback</a> will help us to improve it.

block support_links_items

block author
  li Built by <a href='https://digitaltrade.blog.gov.uk/'><abbr title='UK Trade & Investment'>UKTI</abbr> Digital</a>
