{{<layout}}

{{$title}}
  {{#t}}pages.office-finder.heading{{/t}}
{{/title}}

{{$header}}
  <header>
    <h1>{{#t}}pages.office-finder.heading{{/t}}</h1>
  </header>
{{/header}}

{{$validationSummary}}
  {{> partials-validation-summary}}
{{/validationSummary}}

{{$content}}
  {{#region}}
    <div class="panel">
      <h2>{{#t}}pages.office-finder.nearest.before-postcode{{/t}} {{postcode}} {{#t}}pages.office-finder.nearest.after-postcode{{/t}}</h2>
      {{> partials-office}}
    </div>
  {{/region}}

  <form method="POST" action="">

    <div class="form-group{{#errorlist}} validation-error{{/errorlist}}" id="postcode-group">
      <label for="postcode" class="form-label-bold">
        {{#t}}fields.postcode.label{{/t}}
        <span id="postcode-hint" class="form-hint">{{#t}}fields.postcode.hint{{/t}}</span>
      </label>

      {{#errorlist}}
        <span class="error-message">{{ message }}</span>
      {{/errorlist}}

      <input type="text" name="postcode" id="postcode" class="form-control" value="{{ postcode }}">

      <button type="submit" class="button">{{#t}}fields.submit.label{{/t}}</button>
    </div>

  </form>

  <h2 class="section-heading">{{#t}}pages.office-finder.offices.heading{{/t}}</h2>

  {{#regions}}
    {{> partials-office}}
  {{/regions}}
{{/content}}

{{/layout}}
