{{<layout}}

{{$title}}
  {{#t}}pages.office-finder.heading{{/t}}
{{/title}}

{{$header}}
  <header>
    <h1>{{#t}}pages.office-finder.heading{{/t}}</h1>
  </header>
{{/header}}

{{$validationSummary}}
  {{> partials-validation-summary}}
{{/validationSummary}}

{{$content}}
  {{#region}}
    <div class="panel">
      <h2>{{#t}}pages.office-finder.nearest.before-postcode{{/t}} {{postcode}} {{#t}}pages.office-finder.nearest.after-postcode{{/t}}</h2>
      {{> partials-office}}
    </div>
  {{/region}}

  <form method="POST" action="" class="search-form">

    <div class="{{#errorlist}} validation-error{{/errorlist}}" id="postcode-group">
      <label for="postcode" class="form-label-bold">
        {{#t}}fields.postcode.label{{/t}}
        <span id="postcode-hint" class="form-hint">{{#t}}fields.postcode.hint{{/t}}</span>
      </label>

      {{#errorlist}}
        <span class="error-message">{{ message }}</span>
      {{/errorlist}}

      <input type="text" name="postcode" id="postcode" class="form-control" value="{{ postcode }}">

      <button type="submit" class="button button--inline">{{#t}}buttons.search{{/t}}</button>
    </div>

  </form>

  <div class="office vcard">
    <h3 class="fn">Department for International Trade (DIT)</h3>

    <div class="grid-row">
      <div class="contact-address adr">
        <p>
          <span class="street-address">
              King Charles Street
              <br>
              Whitehall
              <br>
          </span>

          <span class="locality">London</span>
          <br>

          <span class="postal-code">SW1A 2AH</span>
        </p>
      </div>

      <div class="contact-options">
        <p class="tel">
          <span class="type">Telephone</span>
          +44 (0)20 7215 5000
        </p>
      </div>
    </div>
  </div>


  <h2 class="section-heading">{{#t}}pages.office-finder.offices.heading{{/t}}</h2>

  {{#regions}}
    {{> partials-office}}
  {{/regions}}
{{/content}}

{{/layout}}
