{{<layout}}

  {{$journeyHeader}}
    {{#t}}journeys.contact-us.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.company-details.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.company-details.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}

        {{#input-text}}org-name{{/input-text}}

        {{#select}}sector{{/select}}

        {{#radio-group}}annual-turnover{{/radio-group}}

        {{#radio-group}}no-employees{{/radio-group}}

        {{#input-submit}}continue{{/input-submit}}

        {{> partials-back}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
