{{<layout}}

  {{$journeyHeader}}
    {{#t}}journeys.contact-us.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.company-location.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.company-location.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}

        {{#radio-group}}inside-uk{{/radio-group}}

        <fieldset id="postcode-group" class="panel-indent {{#errors.uk-postcode}}validation-error{{/errors.uk-postcode}}">
          {{#input-text}}uk-postcode{{/input-text}}
        </fieldset>

        <fieldset id="country-group" class="panel-indent {{#errors.outside-uk}}validation-error{{/errors.outside-uk}}">

          {{#select}}outside-uk{{/select}}

        </fieldset>

        {{#input-submit}}continue{{/input-submit}}

        {{> partials-back}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
