{{<layout}}
  {{$step}}Step 3{{/step}}

  {{$journeyHeader}}
    {{#t}}journeys.contact-us.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.company-location.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.company-location.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}

        {{#radio-group}}inside-uk{{/radio-group}}

        <fieldset id="country-group" class="panel-indent {{#errors.outside-uk}}validation-error{{/errors.outside-uk}}">

          <legend class="visuallyhidden">
            <span class="form-label-bold">{{#t}}fields.outside-uk.legend{{/t}}</span>
          </legend>

          {{#select}}outside-uk{{/select}}

        </fieldset>


        {{#input-submit}}continue{{/input-submit}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
