{{<layout}}

  {{$journeyHeader}}
  {{/journeyHeader}}

  {{$title}}
    {{#t}}pages.confirmation.header{{/t}}
  {{/title}}

  {{$content}}
    <div class="confirmation-panel" role="alert">
      <h1 class="confirmation-header"><span role="presentation">&#10004;</span>{{#t}}pages.confirmation.header{{/t}}</h1>
      <p class="confirmation-message">
        {{#t}}pages.confirmation.reference{{/t}}
        <br>
        <strong class="confirmation-reference">{{values.reference}}</strong>
      </p>
    </div>

    {{#values.email}}
    <p>{{#t}}pages.confirmation.email{{/t}} <strong>{{values.email}}</strong></p>
    {{/values.email}}

    <h2>{{#t}}pages.confirmation.next.header{{/t}}</h2>

    <p>{{#t}}pages.confirmation.next.para.one{{/t}}</p>

  {{/content}}

{{/layout}}
