{{<layout}}
  {{$journeyHeader}}
    {{#t}}journeys.contact-us.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.confirm.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.confirm.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}
    <p>{{#t}}pages.confirm.subheader{{/t}}</p>

    {{<partials-form}}

      {{$form}}

        <h3>{{#t}}pages.confirm.step-titles.topic{{/t}}</h3>
        <table id="enquiry-details" class="table-details">
          <tbody>
            {{#values.enquiry-reason}}
            <tr>
              <td>{{#t}}pages.confirm.table-headers.topic{{/t}}</td>
              <td>
                {{values.enquiry-reason}}
                {{#values.enquiry-reason-other}}
                  - {{values.enquiry-reason-other}}
                {{/values.enquiry-reason-other}}
              </td>
              <td><a href="topic/edit#enquiry-reason" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
            {{/values.enquiry-reason}}
          </tbody>
        </table>

        {{#values.exported-before}}
        <h3>{{#t}}pages.confirm.step-titles.exported-before{{/t}}</h3>
        <table id="enquiry-details" class="table-details">
          <tbody>
            <tr>
              <td>{{#t}}pages.confirm.table-headers.exported-before{{/t}}</td>
              <td>{{values.exported-before}}</td>
              <td><a href="previously-sold-overseas/edit#sector" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          </tbody>
        </table>
        {{/values.exported-before}}

        <h3>{{#t}}pages.confirm.step-titles.personal-details{{/t}}</h3>
        <table id="personal-details" class="table-details">
          <tbody>
            {{#values.fullname}}
            <tr>
              <td>{{#t}}pages.confirm.table-headers.fullname{{/t}}</td>
              <td>{{values.fullname}}</td>
              <td><a href="personal-details/edit#fullname" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
            {{/values.fullname}}

            {{#values.email}}
            <tr>
              <td>{{#t}}pages.confirm.table-headers.email{{/t}}</td>
              <td>{{values.email}}</td>
              <td><a href="personal-details/edit#email" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
            {{/values.email}}

            {{#values.phone}}
            <tr>
              <td>{{#t}}pages.confirm.table-headers.phone{{/t}}</td>
              <td>{{values.phone}}</td>
              <td><a href="personal-details/edit#phone" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
            {{/values.phone}}
          </tbody>
        </table>

        {{#values.org-type}}
        <h3>{{#t}}pages.confirm.step-titles.type{{/t}}</h3>
        <table id="org-details" class="table-details">
          <tbody>
            <tr>
              <td>{{#t}}pages.confirm.table-headers.org-type{{/t}}</td>
              <td>
                {{values.org-type}}
                {{#values.org-type-other}}
                  - {{values.org-type-other}}
                {{/values.org-type-other}}
              </td>
              <td><a href="organisation-type/edit#org-type-group" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          </tbody>
        </table>
        {{/values.org-type}}

        {{#values.country}}
        <h3>{{#t}}pages.confirm.step-titles.company-location{{/t}}</h3>
        <table id="enquiry-details" class="table-details">
          <tbody>
            <tr>
              <td>{{#t}}pages.confirm.table-headers.country{{/t}}</td>
              <td>{{values.country}}</td>
              <td><a href="company-location/edit#inside-uk-group" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
            {{#values.uk-postcode}}
            <tr>
              <td>{{#t}}pages.confirm.table-headers.uk-postcode{{/t}}</td>
              <td>{{values.uk-postcode}}</td>
              <td><a href="company-location/edit#uk-postcode" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
            {{/values.uk-postcode}}
          </tbody>
        </table>
        {{/values.country}}

        {{#values.org-name}}
        <h3>{{#t}}pages.confirm.step-titles.company-details{{/t}}</h3>
        <table id="org-details" class="table-details">
          <tbody>
            <tr>
              <td>{{#t}}pages.confirm.table-headers.org-name{{/t}}</td>
              <td>{{values.org-name}}</td>
              <td><a href="company-details/edit#org-name" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>

            <tr>
              <td>{{#t}}pages.confirm.table-headers.sector{{/t}}</td>
              <td>{{values.sector}}</td>
              <td><a href="company-details/edit#sector" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>

            {{#values.annual-turnover}}
            <tr>
              <td>{{#t}}pages.confirm.table-headers.annual-turnover{{/t}}</td>
              <td>{{values.annual-turnover}}</td>
              <td><a href="company-details/edit#annual-turnover-group" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
            {{/values.annual-turnover}}

            {{#values.no-employees}}
            <tr>
              <td>{{#t}}pages.confirm.table-headers.no-employees{{/t}}</td>
              <td>{{values.no-employees}}</td>
              <td><a href="company-details/edit#no-employees-group" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
            {{/values.no-employees}}
          </tbody>
        </table>
        {{/values.org-name}}

        {{#values.enquiry-description}}
        <h3>{{#t}}pages.confirm.step-titles.enquiry-description{{/t}}</h3>
        <table id="enquiry-details" class="table-details">
          <tbody>
            <tr>
              <td>{{#t}}pages.confirm.table-headers.description{{/t}}</td>
              <td>{{values.enquiry-description}}</td>
              <td><a href="anything-else/edit#email" class="button">{{#t}}buttons.change{{/t}}</a></td>
            </tr>
          </tbody>
        </table>
        {{/values.enquiry-description}}
        
        <h2>{{#t}}fields.bank-referrer.heading{{/t}}</h2>
        {{#radio-group}}bank-referrer{{/radio-group}}          
        {{#radio-group}}bank-referrer-name{{/radio-group}}

        <fieldset>
          <h2>{{#t}}fields.data-protection.title{{/t}}</h2>
          <p>{{#t}}fields.data-protection.explanation{{/t}}</p>
          {{#checkbox}}data-protection{{/checkbox}}
        </fieldset>

        <h2>{{#t}}footer.title{{/t}}</h2>
        <p>{{#t}}footer.explanation{{/t}}</p>

        {{#input-submit}}send{{/input-submit}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
