{{<layout}}

  {{$journeyHeader}}
    {{#t}}journeys.contact-us.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.organisation-type.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.organisation-type.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}

        {{#radio-group}}org-type{{/radio-group}}

        {{#input-submit}}continue{{/input-submit}}

        {{> partials-back}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
