{{<layout}}
  {{$step}}Step 2{{/step}}

  {{$journeyHeader}}
    {{#t}}journeys.contact-us.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.personal-details.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.personal-details.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}

        {{#input-text}}fullname{{/input-text}}

        {{#input-text-compound}}email{{/input-text-compound}}

        {{#checkbox}}no-email{{/checkbox}}

        {{#input-phone}}phone{{/input-phone}}

        {{#input-submit}}continue{{/input-submit}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
