{{<layout}}

  {{$journeyHeader}}
    {{#t}}journeys.contact-us.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$title}}
    {{#t}}pages.topic.header{{/t}}
  {{/title}}

  {{$header}}
    {{<partials-page-header}}
      {{$page-header}}
        {{#t}}pages.topic.header{{/t}}
      {{/page-header}}
    {{/partials-page-header}}
  {{/header}}

  {{$content}}

    {{<partials-form}}

      {{$form}}
        {{#radio-group}}enquiry-reason{{/radio-group}}

        <fieldset id="enquiry-reason-other-toggle" class="panel-indent {{#errors.enquiry-reason-other}}validation-error{{/errors.enquiry-reason-other}}">

          <legend class="visuallyhidden">
            <span class="form-label-bold">{{#t}}fields.enquiry-reason-other.label{{/t}}</span>
          </legend>

          {{#input-text}}enquiry-reason-other{{/input-text}}

        </fieldset>

        {{#input-submit}}continue{{/input-submit}}

        {{> partials-back}}

      {{/form}}

    {{/partials-form}}

  {{/content}}

{{/layout}}
