.step-header h1 {
  @include bold-24;
}

.form-label-bold {
  @include bold-19;
  margin-bottom: 5px;
}

.search-form {
  @extend %contain-floats;
}

.form-hint {
  margin-top: 0;
}

.button--inline {
  margin-top: 15px;

  @include media(tablet) {
    margin-top: 0;
  }
}

// override form control styles to latest version
.form-control {
  padding: .4em .4em .2em;
  border: 2px solid $grey-1;

  @include media(desktop) {
    width: 65%;
  }
}

.header-proposition {
  margin-top: 5px;
}

.section-heading {
  @include heading-27;
  font-weight: 700;
  margin-bottom: 0;
}

hr {
  display: block;
  background: $border-colour;
  border: 0;
  height: 1px;
  margin-top: $gutter;
  margin-bottom: $gutter;
  padding: 0;

  @include ie-lte(7) {
    color: $border-colour;
  }
}

// override block-label widths
#enquiry-reason-group {
  .block-label {
    @include media(tablet) {
      width: 55%;
    }
  }
}
