h1 {
  @include bold-24;
}

.form-label-bold {
  @include core-19;
}

//custom form styling
.form-control {
  padding: .4em .4em .2em;
  border: 2px solid $grey-1;

  @include media(desktop) {
    width: 65%;
  }
}

// GOVUK Elements `.form-date` overrides
.form-date {
  border-left: 0;
  padding-left: 0;

  label {
    @include core-19();
  }

  .form-group input {
    &[id$='-year'] {
      width: 70px;
    }
  }
}

.header-proposition {
  margin-top: 5px;
}
