.step-header h1 {
  @include bold-24;
}

.form-label-bold {
  @include bold-19;
  margin-bottom: 5px;
}

.form-hint {
  margin-top: 0;
}

// override form control styles to latest version
.form-control {
  padding: .4em .4em .2em;
  border: 2px solid $grey-1;

  @include media(desktop) {
    width: 65%;
  }
}

.header-proposition {
  margin-top: 5px;
}

.section-heading {
  @include heading-27;
  font-weight: 700;
  border-bottom: 1px solid $grey-2;
  padding-bottom: em(12);

  @include media(desktop) {
    padding-bottom: em(20);
  }
}

hr {
  display: block;
  background: $border-colour;
  border: 0;
  height: 1px;
  margin-top: $gutter;
  margin-bottom: $gutter;
  padding: 0;

  @include ie-lte(7) {
    color: $border-colour;
  }
}
