p A new enquiry has been received.
each fields, section in data
  h2 #{S(section).humanize().s}
  table(width='100%')
    tbody
      each value, name in fields
        tr
          th(align='left' width='180') #{S(name).humanize().s}
          td= value
