{{<layout}}

{{$title}}
  Terms and conditions
{{/title}}

{{$header}}
  {{<partials-page-header}}
    {{$page-header}}
      Terms and conditions
    {{/page-header}}
  {{/partials-page-header}}
{{/header}}

{{$content}}
  <h2>How we use your information</h2>
  <p>The data you provide will be used in accordance with the <a href="https://www.gov.uk/government/organisations/uk-trade-investment/about/personal-information-charter" rel="external">Department for International Trade (DIT) personal information charter</a>. DIT will decide how this information is used and stored, in accordance with the Data Protection Act 1998.
</p>

  <p>Your information will be used to help answer your enquiry.</p>

  <p>It may also be passed to third parties, government departments, local authorities, foreign governments and public bodies, to:</p>
  <ul class="list-bullet">
    <li>confirming that the information you've provided is accurate</li>
    <li>prevent and detect crime, including fraud and money laundering</li>
    <li>allow any of these organisations to train its staff</li>
  </ul>

  <p>DIT reserves the right to collect information on how people use its site. Any data we gather will mainly be used internally, eg to improve customer service.</p>
{{/content}}

{{/layout}}
