mixin dataRow(field, title)
  if data[field]
    tr: td(colspan='2' height='15')
    tr
      th(width='35%' valign='top' align='left')
        +text(16, 500, '#6f777b')= title
      td(width='65%' valign='top')
        +text= data[field]
    tr: td(colspan='2' height='15')
    tr: td(colspan='2' height='1' bgcolor='#6f777b')
    
mixin sectionHeader(title)
  tr: td(colspan='2' height='20')
  tr: td(colspan='2')
    h2(style='margin:0;padding:0;')
      +text(19, 700)= title
  tr: td(colspan='2' height='10')
  tr: td(colspan='2' height='1' bgcolor='#6f777b')

- var enqReasonField = 'enquiry-reason'

if data['enquiry-reason-other']
  - enqReasonField = 'enquiry-reason-other'

if data
  tr: td
    +tbl
      +sectionHeader(t('pages.confirm.step-titles.enquiry-reason'))
      +dataRow(enqReasonField, t('pages.confirm.table-headers.reason'))
  if data['exported-before']
    tr: td
      +tbl
        +sectionHeader(t('pages.confirm.step-titles.exported-before'))
        +dataRow('exported-before', t('pages.confirm.table-headers.exported-before'))
  tr: td
    +tbl
      +sectionHeader(t('pages.confirm.step-titles.personal-details'))
      +dataRow('fullname', t('pages.confirm.table-headers.fullname'))
      +dataRow('email', t('pages.confirm.table-headers.email'))
      +dataRow('phone', t('pages.confirm.table-headers.phone'))
  tr: td
    +tbl
      +sectionHeader(t('pages.confirm.step-titles.company-location'))
      +dataRow('country', t('pages.confirm.table-headers.country'))
  tr: td
    +tbl
      +sectionHeader(t('pages.confirm.step-titles.sector'))
      +dataRow('sector', t('pages.confirm.table-headers.sector'))
  tr: td
    +tbl
      +sectionHeader(t('pages.confirm.step-titles.company-details'))
      +dataRow('org-type', t('pages.confirm.table-headers.org-type'))
      +dataRow('annual-turnover', t('pages.confirm.table-headers.annual-turnover'))
      +dataRow('no-employees', t('pages.confirm.table-headers.no-employees'))
  tr: td
    +tbl
      tr: td(colspan='2' height='30')
      tr: td(colspan='2')
        h2(style='margin:0;padding:0;')
          +text(19, 700)= t('fields.data-protection.title')
      tr: td(colspan='2' height='20')
      tr: td(colspan='2')
        if data['data-protection']
          +text(16, 500)= t('emails.data-protection.opted-in')
        else
          +text(16, 500)= t('emails.data-protection.opted-out')
