mixin dataRow(field, key)
  if data[field]
    br
    | #{t(key)}:
    br
    = data[field]
    br
mixin heading(key)
  br
  br
  = t(key)
  br
  | -------------------------------------
  br

//- custom reason overrides
if data['enquiry-reason-other']
  - data['enquiry-reason'] = data['enquiry-reason-other']
if data['org-type-other']
  - data['org-type'] = data['org-type-other']

if data
  +heading('pages.confirm.step-titles.topic')
  +dataRow('enquiry-reason', 'pages.confirm.table-headers.topic')
  if data['exported-before']
    +heading('pages.confirm.step-titles.exported-before')
    +dataRow('exported-before', 'pages.confirm.table-headers.exported-before')
  +heading('pages.confirm.step-titles.personal-details')
  +dataRow('fullname', 'pages.confirm.table-headers.fullname')
  +dataRow('email', 'pages.confirm.table-headers.email')
  +dataRow('phone', 'pages.confirm.table-headers.phone')
  if data['org-type']
    +heading('pages.confirm.step-titles.type')
    +dataRow('org-type', 'pages.confirm.table-headers.org-type')
  if data['country']
    +heading('pages.confirm.step-titles.company-location')
    +dataRow('country', 'pages.confirm.table-headers.country')
    +dataRow('uk-postcode', 'pages.confirm.table-headers.uk-postcode')
  if data['org-name'] || data['sector']
    +heading('pages.confirm.step-titles.company-details')
    +dataRow('org-name', 'pages.confirm.table-headers.org-name')
    +dataRow('sector', 'pages.confirm.table-headers.sector')
    +dataRow('annual-turnover', 'pages.confirm.table-headers.annual-turnover')
    +dataRow('no-employees', 'pages.confirm.table-headers.no-employees')
  +heading('pages.confirm.step-titles.enquiry-description')
  +dataRow('enquiry-description', 'pages.confirm.table-headers.description')
  br
  +heading('fields.data-protection.title')
  br
  | #{t('emails.data-protection.table-header')}:
  br
  if data['data-protection']
    = t('emails.data-protection.yes')
  else
    = t('emails.data-protection.no')
  br
  
